<template>

      <div class = "sidenav" id = "app" >
        <input type="checkbox" id="check">	
	
	<header>

		<label for="check">
			<i class="fas fa-bars" id="sidebar_btn"></i>
		</label>

		<div class="left_area">
			<h3>Library Management <span>System</span></h3>
		</div>
		<div class="right_area">
			<a href="#" class="logout_btn">Logout</a>
		</div>
	</header>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        
        <div class = "sidebar">

          <center>
            <div class = "profile_image"></div>
            <h4>Domenic R. Remocaldo</h4>
          </center>

        <router-link to = "/Dashboard">
        <a href="index.html"><i class="fa fa-desktop" aria-hidden="true"></i><span>Dashboard</span></a>
        </router-link>
        <router-link to = "/Patron">
        <a href="Patron.html"><i class="fa fa-user" aria-hidden="true"></i><span>Patron Management</span></a>
        </router-link>
        <router-link to = "/Books">
        <a href="Book.html"><i class="fa fa-book" aria-hidden="true"></i><span>Book Management</span></a>
        </router-link>
        <router-link to = "/Settings">
        <a href="Settings.html"><i class="fa fa-tasks" aria-hidden="true"></i><span>Settings</span></a>
        </router-link>

      </div>

      <div class="content"></div>

    </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>