body{

	margin:	0;
	padding: 0;
	font-family: "Roboto", sans-serif; 
}

header{

	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 70px;
}

.left_area{

	margin-top: -25px;
}

.left_area h3{

	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}

.left_area span{

	color: #1DC4E7;
}

.logout_btn{

	padding: 5px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 50px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition-property: background;
}


.logout_btn:hover{
	background: #0D9DBB;
}

.sidebar{

	background: #2F323A;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100vh;
}

.sidebar .profile_image{

	background-size: contain;
	background-image: url(../images/Pic.jpg);
	border-radius: 100px;
	margin-top: 0px;
	height: 100px;
	width: 100px;


	
}

.sidebar h4{

	color: #ccc;
	margin-top: 0px;
	margin-bottom: 20px;
}

.sidebar a{

	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{

	background: #29B3D3;
}

.sidebar i{

	padding-right:10px;
}

label #sidebar_btn{

	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 500px;
	font-size: 20px;
	margin: 1px 0;
	transition: 0.5s;
	transition-property: color;
}	

label #sidebar_btn:hover{

	color: #19B3D3;
}

#check:checked ~ .sidebar{

	left: -190px;
}

#check:checked ~ .sidebar a span{

	display: none;
}

#check:checked ~.sidebar a{

	font-size: 20px;
	margin-left: 85px;
	width: 80px;
}

#check:checked ~.sidebar .profile_image{

	font-size: 20px;
	margin-left: 190px;
	width: 40px;
	height: 40px;
	
}


.content{

	margin-left: 250px;
	background: url(../images/background.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: 0.5s;
}

#check:checked ~ .content{

	margin-left: 60px;
}


#check{

	display: none;
}


.col-sm-6{

	margin-top: -50px;
	
}

h2{
	color: #ccc;
}

td{
	color: #ccc;
}

.col-sm-6 a{

	margin-top: 65px;
	margin-left: -570px;
}

.container{

	margin-left: 250px;
	
}

.containerr{

	margin-left: 250px;
}

.col-lg-6{

	margin-top: -675px;

}

.col-lg-4{

	margin-top: -675px;

}

.col-lg-12{

	margin-top: -680px;
	margin-right: 0px;
	margin-left: 0px;	
}

#overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	background: rgba(0,0,0,0.6);
}

.contador{
	width: 200vh;
	height:300px;
	
	
	  top:125px;
	  margin-left:25px;
	  position: absolute;

	  
  }