body{

	
	margin: 0;
	padding: 0;
	font-family: Athletic;
	
}
.search-box{
	position: absolute;
	top: 9%;
	left: 10%;
	transform: translate(-45%,-45%);
	height: 50px;
}

.search-txt{
	border: none;
	background: white;
	outline: none;
	padding: 0;
	color: white;
	font-size: 17px;
}
.submit{
	font-size: 17px;
}

header{

	background-image: url(wp5995224.jpg);
	height: 100%;
	background-size: fixed;
	background-position: fixed;
}
.message{
	list-style-type: none;
	position: absolute;
	top: 5%;
	right: 20%;
	transform: translate(50%,15%);
	float: right;
	list-style: none;

}
.message li{
	display: inline-block;
}
.message li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.message li a:hover{
	background-color: #000;
	color: #fff;
}
.message li.active a{
	background-color: #000;
	color: #fff;
}
.profile{
	list-style-type: none;
	position: absolute;
	top: 5%;
	right: 20%;
	transform: translate(250%,15%);
	float: right;
	list-style: none;

}
.profile li{
	display: inline-block;
}
.profile li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.profile li a:hover{
	background-color: #000;
	color: #fff;
}
.profile li.active a{
	background-color: #000;
	color: #fff;
}
ul{

	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 15%;
	float: center;
	list-style: none;
	margin-top: 51.5px;

}
ul li{

	display: inline-block;

}
ul li a{

	text-decoration: none;
	color: #000;
	padding: 5px 60px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
ul li a:hover{

	background-color: #000;
	color: #fff;

}
ul li.active a{

	background-color: #000;
	color: #fff;

}

.wrapper{

	margin-top: 40px;
	height: 35px;
	width: 100%;
	background: gray;
}
.title{

	height: 50px;
	width: 100%;
	background: gray;

}

.image1{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.image2{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.image3{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.image4{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.image5{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.image6{
	margin-top: 5%;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
}
.next{
	list-style-type: none;
	position: absolute;
	position: absolute;
	top: 280%;
	right: 45%;
	float: right;
	list-style: none;

}
.next li{
	display: inline-block;
}
.next li a{
	text-decoration: none;
	color: #000;
	background: #7CA273;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.next li a:hover{
	background-color: #000;
	color: #fff;
}
.next li.active a{
	background-color: #000;
	color: #fff;
}
.information{
 	list-style-type: none;
	position: absolute;
	top: 288.6%;
	left: 7%;
	transform: translate(-45%);
	float: right;
	list-style: none;

}
.information li{
	display: inline-block;
}
.information li a{
	text-decoration: none;
	color: #000;
	padding: 5px 50px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.information li a:hover{
	background-color: #000;
	color: #fff;
}
.information li.active a{
	background-color: #000;
	color: #fff;
}
.help{
	list-style-type: none;
	position: absolute;
	top: 288.3%;
	right: 25%;
	transform: translate(250%,15%);
	float: right;
	list-style: none;
}
.help li{
	display: inline-block;
}
.help li a{
	text-decoration: none;
	color: #000;
	padding: 5px 50px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.help li a:hover{
	background-color: #000;
	color: #fff;
}
.help li.active a{
	background-color: #000;
	color: #fff;
}
.demon{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 300px;
	margin-top: 12px;
}
.demon li{
	display: list-item;
}
.demon li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.demon li a:hover{
	background-color: #000;
	color: #fff;

}
.demon li.active a{
	background-color: #000;
	color: #fff;
}
.piece{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 850px;
	margin-top: 12px;
}
.piece li{
	display: list-item;
}
.piece li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.piece li a:hover{
	background-color: #000;
	color: #fff;

}
.piece li.active a{
	background-color: #000;
	color: #fff;
}
.hunter{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 1400px;
	margin-top: 12px;
}
.hunter li{
	display: list-item;
}
.hunter li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.hunter li a:hover{
	background-color: #000;
	color: #fff;

}
.hunter li.active a{
	background-color: #000;
	color: #fff;
}
.bleach{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 1950px;
	margin-top: 12px;
}
.bleach li{
	display: list-item;
}
.bleach li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.bleach li a:hover{
	background-color: #000;
	color: #fff;

}
.bleach li.active a{
	background-color: #000;
	color: #fff;
}
.metal{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 2500px;
	margin-top: 12px;
}
.metal li{
	display: list-item;
}
.metal li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.metal li a:hover{
	background-color: #000;
	color: #fff;

}
.metal li.active a{
	background-color: #000;
	color: #fff;
}
.naruto{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 3050px;
	margin-top: 12px;
}
.naruto li{
	display: list-item;
}
.naruto li a{
	text-decoration: none;
	color: #4e0707;
	padding: 5px 50px;
	border: 1px solid #7CA273;
	transition: 0.6s ease;
}
.naruto li a:hover{
	background-color: #000;
	color: #fff;

}
.naruto li.active a{
	background-color: #000;
	color: #fff;
}
.pnd{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 650px;
	margin-top: 12px;

}
.pnd li{

	display: inline-block;

}
.pnd li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.pnd li a:hover{

	background-color: #000;
	color: #fff;

}
.pnd li.active a{

	background-color: #000;
	color: #fff;

}
.ndp{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 1200px;
	margin-top: 12px;

}
.ndp li{

	display: inline-block;

}
.ndp li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.ndp li a:hover{

	background-color: #000;
	color: #fff;

}
.ndp li.active a{

	background-color: #000;
	color: #fff;

}
.dpn{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 1750px;
	margin-top: 12px;

}
.dpn li{

	display: inline-block;

}
.dpn li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.dpn li a:hover{

	background-color: #000;
	color: #fff;

}
.dpn li.active a{

	background-color: #000;
	color: #fff;

}
.dnp{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 2300px;
	margin-top: 12px;

}
.dnp li{

	display: inline-block;

}
.dnp li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.dnp li a:hover{

	background-color: #000;
	color: #fff;

}
.dnp li.active a{

	background-color: #000;
	color: #fff;

}
.wd{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 650px;
	margin-top: 12px;

}
.wd li{

	display: inline-block;

}
.wd li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.wd li a:hover{

	background-color: #000;
	color: #fff;

}
.wd li.active a{

	background-color: #000;
	color: #fff;

}
.dw{
	list-style-type: none;
	position: absolute;
	top: 10%;
	left: 20%;
	float: center;
	list-style: none;
	line-height: 3950px;
	margin-top: 12px;

}
.dw li{

	display: inline-block;

}
.dw li a{

	text-decoration: none;
	color: #4e0707;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}
.dw li a:hover{

	background-color: #000;
	color: #fff;

}
.dw li.active a{

	background-color: #000;
	color: #fff;
}
.footer{
	margin-top: 10%;
	height: 40px;
	width: 100%;
	background: gray;
}