body{

	margin:	0;
	padding: 0;
	font-family: "Roboto", sans-serif; 
}

header{

	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 70px;
}

.left_area{

	margin-top: -20px;
}

.left_area h3{

	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.left_area span{

	color: #1DC4E7;
}

.logout_btn{

	padding: 5px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -35px;
	margin-right: 30px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition-property: background;
}


.logout_btn:hover{
	background: #0D9DBB;
}

.sidebar{

	background: #2F323A;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
}

.sidebar .profile_image{

	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
}

.sidebar h4{

	color: #ccc;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar a{

	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{

	background: #29B3D3;
}

.sidebar i{

	padding-right:10px;
}

label #sidebar_btn{

	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 500px;
	font-size: 20px;
	margin: 1px 0;
	transition: 0.5s;
	transition-property: color;
}	

label #sidebar_btn:hover{

	color: #19B3D3;
}

#check:checked ~ .sidebar{

	left: -190px;
}

#check:checked ~ .sidebar a span{

	display: none;
}

#check:checked ~.sidebar a{

	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}

.content{

	margin-left: 250px;
	background: url(background.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: 0.5s;
}

#check:checked ~ .content{

	margin-left: 60px;
}

#check{

	display: none;
}

.col-sm-6{

	margin-top: 80px;
	
}

.col-sm-6 a{

	margin-top: 65px;
	margin-left: -570px;
}

.container{

	margin-left: 250px;
	

}