<template>
  <div id="app">
    <SideBar isActive="book" />
  
       
         <div class="contador">
        
        
      <div class="container">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Book<b>Management</b></h2>
						</div>
						<div class="col-sm-7">
							<b-button variant="btn btn-success" v-b-modal.addBookModal><i class="fas fa-plus"></i>Add Books</b-button>
						</div>
					</div>
				</div>
			</div>

				
				<table class="table tabel-hover">
					<thead>
						<tr>
								<th></th>
								<th>Name</th>
								<th>Author</th>
								<th>Copies Borrowed</th>
								<th>Category</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>
                <b-button  style="background-color: #080927" v-b-modal.editBookModal><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteBookModal><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
								<b-button  style="background-color: #080927" v-b-modal.borrowBookModal><i class="fas fa-check" data-toggle="tooltip" title="Borrow"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.returnBookModal><i class="fas fa-undo" data-toggle="tooltip" title="Return"></i></b-button>
              </td>
							<td>Remocaldo, Domenic R.</td>
							<td>Domenic R. Remocaldo</td>
							<td>20</td>
							<td>Fiction</td>
						</tr>

						<tr>
							<td>
                <b-button  style="background-color: #080927" v-b-modal.editBookModal><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteBookModal><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.borrowBookModal><i class="fas fa-check" data-toggle="tooltip" title="Borrow"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.returnBookModal><i class="fas fa-undo" data-toggle="tooltip" title="Return"></i></b-button>
							</td>
							<td>Remocaldo, Domenic R.</td>
							<td>Domenic R. Remocaldo</td>
							<td>20</td>
							<td>Fiction</td>
						</tr>

						<tr>
							<td>
                <b-button  style="background-color: #080927" v-b-modal.editBookModal><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteBookModal><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.borrowBookModal><i class="fas fa-check" data-toggle="tooltip" title="Borrow"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.returnBookModal><i class="fas fa-undo" data-toggle="tooltip" title="Return"></i></b-button>
							</td>
							<td>Remocaldo, Domenic R.</td>
							<td>Domenic R. Remocaldo</td>
							<td>20</td>
							<td>Fiction</td>
						</tr>

						<tr>
							<td>
                <b-button  style="background-color: #080927" v-b-modal.editBookModal><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteBookModal><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.borrowBookModal><i class="fas fa-check" data-toggle="tooltip" title="Borrow"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.returnBookModal><i class="fas fa-undo" data-toggle="tooltip" title="Return"></i></b-button>
							</td>
							<td>Remocaldo, Domenic R.</td>
							<td>Domenic R. Remocaldo</td>
							<td>20</td>
							<td>Fiction</td>
						</tr>

						<tr>
							<td>
                <b-button  style="background-color: #080927" v-b-modal.editBookModal><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteBookModal><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.borrowBookModal><i class="fas fa-check" data-toggle="tooltip" title="Borrow"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.returnBookModal><i class="fas fa-undo" data-toggle="tooltip" title="Return"></i></b-button>
							</td>
							<td>Remocaldo, Domenic R.</td>
							<td>Domenic R. Remocaldo</td>
							<td>20</td>
							<td>Fiction</td>
						</tr>


						
					</tbody>
				</table>



		
				<b-modal id="deleteBookModal" centered title="Delete Book">
          <form>
								<div class="modal-header">
									<h4 class="modal-title">Delete Book</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete book?</p>
									<small>Click "Delete" to confirm</small>
								</div>
								</form>
				</b-modal>
        </div>
      
				
				
				<b-modal id="addBookModal" centered title="Add Book" style="background-color = #080927">
							<form>
								<div class="modal-header">
									<h4 class="modal-title">Add Book</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="book_name">Book Name</label>
										<input type="text" class="form-control" id="name" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_author">Author</label>
										<input type="email" class="form-control" id="author" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_copies">Copies</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_category">Category</label>
										<select id="customSelect" name="cars" class="custom-select">
                        <option selected>Please select a category</option>
                        <option value="volvo">Fiction</option>
                        <option value="fiat">Horror</option>
                        <option value="audi">Novel</option>
                        <option value="audi">Biography</option>
                      </select>
									</div>
									
								</div>
							</form>
            </b-modal>
         </div>
  
  


			

				<b-modal id="editBookModal" centered title="Edit Book">
							<form>
								<div class="modal-header">
									<h4 class="modal-title">Edit Book</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="book_name">Book Name</label>
										<input type="text" class="form-control" id="name" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_author">Author</label>
										<input type="email" class="form-control" id="author" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_copies">Copies</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
									<div class="form-group">
										<label for="book_category">Category</label>
										<select id="customSelect" name="cars" class="custom-select">
                        <option selected>Please select a category</option>
                        <option value="volvo">Fiction</option>
                        <option value="fiat">Horror</option>
                        <option value="audi">Novel</option>
                        <option value="audi">Biography</option>
                      </select>
									</div>
								</div>
							</form>
            </b-modal>
						
					
      

			<!-- Borrow Modal HTML-->

				<b-modal id="borrowBookModal" centered title="Borrow Book">
							<form>
								<div class="modal-header">
									<h4 class="modal-title">Borrow Book</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="book_name">Book Name</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_author">Author</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_copies">Copies</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_category">Category</label>
										<input type="text" class="form-control" required="">
									</div>
									</div>
							</form>
				</b-modal>
         
				


				<b-modal id="returnBookModal" centered title="Return Book">
              <form>
								<div class="modal-header">
									<h4 class="modal-title">Return Book</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="book_name">Book Name</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_author">Author</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_copies">Copies</label>
										<input type="text" class="form-control" required="">
									</div>
									<div class="form-group">
										<label for="book_category">Category</label>
										<input type="text" class="form-control" required="">
									</div>
									</div>
							</form>
              </b-modal>
            </div>
 
				


  
  
</template>

<script>

import SideBar from ".././navigation/SideBar";

export default {
  
  name: "App",
  mounted(){
    document.title = "Books Management"
  },
  components: { 
    SideBar,
    
  },
    };
</script>
