<template>
  <div id="app">
    
    
    <SideBar isActive="index"/>

    
    <div class="container">
							<div class="row mt-6">
								<div class="col-lg-6">
									<div class="card rounded-8">
										<div class="card-header">
											<h6 class="font-weight-bold mb-o">Borrowed and Returned Books</h6>
										</div>
										<div class="card-body">
											<canvas id="myChart" width="300" height="120"></canvas>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card rounded-8">
										<div class="card-header">
											<h6 class="font-weight-bold mb-o">Popular Book Genre</h6>
										</div>
										<div class="card-body">
											<canvas id="myPieChart" width="450" height="270"></canvas>
										</div>
									</div>
								</div>
							</div>
			</div>
    </div>
  
</template>

<script>
import SideBar from ".././navigation/SideBar";

import Chart from 'chart.js';
export default {
  components: { SideBar
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted: function() {
    var ctx = document.getElementById('myChart').getContext('2d');
			new Chart(ctx, {

            type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May'],
                    datasets: [{
                        data: [56, 24, 18, 10, 5],
                        label: 'Returned',
                        backgroundColor:'#004586',
                        maxBarThickness: 40,
                        borderColor: '#004586',
                        hoverBackgroundColor: '#0A1E32'		            
                    },

                    {
                        data: [54, 35, 22, 20, 9],
                        label: 'Returned',
                        backgroundColor:'#FF420E',
                        maxBarThickness: 40,
                        borderColor: '#FF420E',
                        hoverBackgroundColor: '#A8300F'		            
                }]
                },

                    options: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 10,
                    }
                    }
                }
            });

    var ctx1 = document.getElementById('myPieChart').getContext('2d');
			new Chart(ctx1, {
				type: 'pie',

				data: {
					labels: ['Action', 'Horror', 'Mystery', 'Science Fiction'],
					datasets: [{
						data: [50, 110, 70, 130],
						backgroundColor: ['#64B5F6', '#1976D2', '#EF6C00', '#FFD54F'],					
					}]
					
				},
				options: {
                    legend: {
                        position: 'right',
                        labels: {
                            boxWidth: 10,
                        }
                    }
                }
			});
  },
};

</script>

<style>
#sidebar ul li.active1 > a {
      background: transparent;
      color: #fff; }
</style>

