<template>
  <div id="app">
    <SideBar isActive="patron" />
  
       
         <div class="contador">
        
        
      <div class="containerr">
       <div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2><b>Patron Management</b></h2>
						</div>
            <div class="col-lg-5">
            <input class="search-box" type="text" name="" placeholder="Search...">
          </div>
							<div class="col-sm-7">
							<b-button variant="btn btn-success" v-b-modal.addUser><i class="fas fa-plus"></i>Add Books</b-button>
						</div>
            
					</div>
				</div>


				
				<table class="table tabel-hover">
					<thead>
						<tr>
                <td></td>
<<<<<<< HEAD
				<td><b>Name</b></td>
=======
								<td><b>Name</b></td>
>>>>>>> master
                <td><b>Email Address</b></td>
                <td><b>Date Registered</b></td>
								
						</tr>
					</thead>
					<tbody>

						<tr>
              <b-button  style="background-color: #080927" v-b-modal.editUser><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteUser><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
							<td>Remocaldo, Domenic R.</td>
							<td>remocaldodomenic172@gmail.com</td>
							<td>October 30, 2020</td>
						</tr>

						<tr>
							<b-button  style="background-color: #080927" v-b-modal.editUser><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteUser><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
							<td>Remocaldo, Domenic R.</td>
							<td>remocaldodomenic172@gmail.com</td>
							<td>October 30, 2020</td>
						</tr>

						<tr>
							<b-button  style="background-color: #080927" v-b-modal.editUser><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteUser><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
							<td>Remocaldo, Domenic R.</td>
							<td>remocaldodomenic172@gmail.com</td>
							<td>October 30, 2020</td>
						</tr>

						<tr>
							<b-button  style="background-color: #080927" v-b-modal.editUser><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteUser><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
							<td>Remocaldo, Domenic R.</td>
							<td>remocaldodomenic172@gmail.com</td>
							<td>October 30, 2020</td>
						</tr>

						<tr>
							<b-button  style="background-color: #080927" v-b-modal.editUser><i class="fas fa-edit" data-toggle="tooltip" title="Edit"></i></b-button>
                <b-button  style="background-color: #080927" v-b-modal.deleteUser><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></b-button>
							<td>Remocaldo, Domenic R.</td>
							<td>remocaldodomenic172@gmail.com</td>
							<td>October 30, 2020</td>
						</tr>	
						
					</tbody>
				</table>
       </div>
      
            <b-modal id="addUser" centered title="Add Book" style="background-color = #080927">
							<form>
								<div class="modal-header">
									<h4 class="modal-title">Add Patron</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="f_name">First Name</label>
										<input type="text" class="form-control" id="name" placeholder="" />
									</div>
									<div class="form-group">
										<label for="m_name">Middle Name</label>
										<input type="email" class="form-control" id="author" placeholder="" />
									</div>
									<div class="form-group">
										<label for="l_name">Last Name</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
                  <div class="form-group">
										<label for="email_add">Email Address</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
								</div>
							</form>
            </b-modal>
         </div>
         

         <b-modal id="deleteUser" centered title="Delete Book">
          <form>
								<div class="modal-header">
									<h4 class="modal-title">Delete Patron</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete book?</p>
									<small>Click "Delete" to confirm</small>
								</div>
								</form>
				</b-modal>
      </div>

        <b-modal id="editUser" centered title="Edit Patron">
							<form>
								<div class="modal-header">
									<h4 class="modal-title">Edit Patron</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="f_name">First Name</label>
										<input type="text" class="form-control" id="name" placeholder="" />
									</div>
									<div class="form-group">
										<label for="m_name">Middle Name</label>
										<input type="email" class="form-control" id="author" placeholder="" />
									</div>
									<div class="form-group">
										<label for="l_name">Last Name</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
                  <div class="form-group">
										<label for="email_add">Email Address</label>
										<input type="email" class="form-control" id="copies" placeholder="" />
									</div>
								</div>
							</form>
            </b-modal>
        
    
    

  </div>
</template>

<script>

import SideBar from ".././navigation/SideBar";


export default {
        el: '#hello',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar
    },
};
</script>
